/* SASS for Choose Your Own */
/* design constraints */
/* colors */
/* sizes */
@font-face {
  font-family: 'oswaldbook';
  src: url("oswald-regular-webfont.eot");
  src: url("oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("oswald-regular-webfont.woff") format("woff"), url("oswald-regular-webfont.ttf") format("truetype"), url("oswald-regular-webfont.svg#oswaldbook") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #333333;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(top, #333333, #333333 25%, #0d0d0d);
  background-image: -webkit-linear-gradient(#333333, #333333 25%, #0d0d0d);
  background-image: linear-gradient(#333333, #333333 25%, #0d0d0d);
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: "Comic Sans MS", "Helvetica", sans-serif;
  text-shadow: 0px 1px #888888;
  color: #222222;
  text-align: center; }

body div {
  display: inline-block; }

#viewer {
  border-radius: 32px;
  background-color: white;
  width: 600px;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 400px;
  box-shadow: 0px 0px 25px black; }

#viewer div {
  float: left; }

#panel-view {
  width: 480px;
  height: 100%;
  background-color: white; }

.sidebar {
  width: 60px;
  height: 100%;
  background-color: #cdb99c; }

#left-sidebar {
  text-align: left;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em; }

#right-sidebar {
  text-align: right;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em; }

.sidebar a {
  display: inline-block; }

.button {
  width: 36px;
  height: 36px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #f2aa2e;
  margin-top: 6px;
  margin-bottom: 6px; }

.button:hover {
  background-color: #f5bd5e;
  cursor: pointer; }

#black, #tiny {
  margin-top: 38px; }

#panel-desc {
  text-align: center; }

#prev {
  margin-top: 182px; }

#new, #home {
  margin-top: 32px; }

#next, #prev {
  margin-top: 114px; }

/* chooser page */
div#question-wrapper {
  width: 80%;
  height: 15%;
  font-size: 2em;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  float: none;
  background-color: #5dbfda;
  border: #40b4d3 5px solid;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
  div#question-wrapper div {
    float: none; }

#choices-wrapper {
  height: 300px;
  width: 432px;
  margin: 20px 24px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: #cdb99c 1px solid;
  border-radius: 14px; }

/* from http://cssarrowplease.com/ */
.choice {
  width: 336px;
  height: 48px;
  margin: 14px 0px;
  font-size: 1.5em;
  display: inline-block;
  position: relative;
  background: #f8d18e;
  border: 4px solid #f5bd5e;
  border-radius: 8px; }
  .choice:hover {
    background: #f5bd5e;
    border: 4px solid #f8d18e;
    border-left-color: #f5bd5e;
    cursor: pointer;
    text-shadow: 0px -1px #ddd; }

#choices-wrapper .choice {
  margin: .4em 0px;
  font-size: 1em; }

/* home page */
#main-view {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-color: white;
  text-align: center; }

#title {
  width: 600px;
  height: 15%;
  font-size: 3em;
  padding-top: .2em;
  font-family: "oswaldbook", "Impact", inherit;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  float: none;
  background-color: #5dbfda;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(top, #5dbfda, #5dbfda 25%, #9cd8e8);
  background-image: -webkit-linear-gradient(#5dbfda, #5dbfda 25%, #9cd8e8);
  background-image: linear-gradient(#5dbfda, #5dbfda 25%, #9cd8e8);
  border-bottom: #40b4d3 5px solid;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
  #title div {
    float: none; }

h3 {
  font-size: 2em;
  margin: .4em 0;
  margin-bottom: .5em; }

#create-area {
  width: 100%; }

form {
  width: 60%;
  margin-left: 15%;
  margin-top: .5em;
  border-left: 2px #333 solid;
  display: inline-block;
  width: 300px;
  float: left; }

#situation-entry {
  font-size: 1.5em;
  font-family: inherit;
  border: none;
  margin: 0px 0px;
  overflow: hidden; }
  #situation-entry:focus {
    outline: 0; }

#situation-create {
  width: auto;
  height: auto;
  padding: .5em 1em;
  border-radius: 6px;
  bottom: 5px;
  position: relative;
  margin-left: 1em;
  font-family: "oswaldbook", "Impact", inherit;
  font-size: 1.3em;
  border: 4px #f5bd5e solid; }
  #situation-create:hover {
    border: 4px #f9dba6 solid;
    background-color: #f5bd5e; }
  #situation-create:active {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    position: relative;
    bottom: 4px;
    box-shadow: 0px -1px 2px 2px gray; }

hr {
  margin: 0px 0px;
  border: 0;
  height: 2px;
  background: #333;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%); }

#start-wrapper {
  height: 40%;
  width: 540px;
  margin: 20px 24px;
  overflow-x: hidden;
  overflow-y: scroll; }
  #start-wrapper .start {
    width: auto;
    max-width: 480px;
    padding: .3em .3em;
    margin: 14px 7px;
    font-size: 1.4em;
    display: inline-block;
    position: relative;
    background: #f8d18e;
    box-shadow: 0px 1px 5px 2px #f8d18e;
    border-radius: 8px; }
    #start-wrapper .start:hover {
      background: #f5bd5e;
      box-shadow: 0px -1px 5px 2px #f5bd5e;
      cursor: pointer;
      text-shadow: 0px -1px #888888; }

.start:active, .choice:active, a.button:active {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  position: relative;
  top: 1px;
  box-shadow: 0px 0px 2px 2px gray; }

canvas:hover {
  cursor: crosshair; }
canvas:active {
  cursor: all-scroll; }

/* icon zone */
#black {
  background-color: black; }

#red {
  background-color: red; }

#yellow {
  background-color: yellow; }

#green {
  background-color: lime; }

#blue {
  background-color: blue; }

#brown {
  background-color: brown; }

#white {
  background-image: url("../img/eraser.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-color: white;
  background-size: 80%; }

#tiny {
  background-image: url("../img/size1.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain; }

#little {
  background-image: url("../img/size2.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain; }

#med {
  background-image: url("../img/size3.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain; }

#big {
  background-image: url("../img/size4.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain; }

#huge {
  background-image: url("../img/size4point5.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain; }

#cancel {
  background-image: url("../img/x_red.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain; }

#submit {
  background-image: url("../img/check_green.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-size: 80%; }

#prev {
  background-image: url("../img/back.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-size: 80%; }

#next {
  background-image: url("../img/next.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-size: 80%; }

#new {
  background-image: url("../img/fork_blue.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-size: 90%; }

#home {
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-size: 90%; }

.selected {
  box-shadow: 0px 0px 9px 4px gray; }

#start-wrapper .choice,
#choices-wrapper .choice {
  text-decoration: none;
  color: #222222;
  height: auto;
  padding: .3em; }

#new.button.hidden,
#home.button.hidden {
  width: 0; }

.fb-share-button.fb_iframe_widget {
  position: relative;
  top: 20%;
  left: 43%; }
