/* SASS for Choose Your Own */

/* design constraints */
$num-colors: 7;
$outside-radius: 32px;

/* colors */
$font-color: #222; 
$font-shadow: #888;
$bg: #333; 
$fg: #ffffff;
$side: #cdb99c; 
$color-button: lighten(rgb(223,146,14),10%);
$big-button-color: lighten(rgb(223,146,14),30%);
$big-button-border: darken($big-button-color,10%);
$header-color: lighten(rgb(52,175,208),10%);//darken(#f2583e,15%);

// $font-color: #333; 
// $bg: #171717; 
// $fg: #ececec;
// $side: gray; 
// $color-button: green;
// $big-button-color: #ff8a05;
// $big-button-border: #cc6521;
// $header-color: #18ccae;

/* sizes */
$view-width: 600px;
$view-height: (2/3)*$view-width;
$vertical-centering-margin: 100px;
$sidebar-width: .1*$view-width;
$mid-width: .8*$view-width;

$button-width: .6*$sidebar-width;
$button-side-margin: ($sidebar-width - $button-width) / 2;


@mixin button-top-margin($numButtons){ 
  margin-top: ($view-height - 2*$outside-radius - 
    $numButtons*$button-width) / (2*$numButtons);
  margin-bottom: ($view-height - 2*$outside-radius - 
    $numButtons*$button-width) / (2*$numButtons);
}

@mixin gradient($base: #ffffff){
    $darker: darken($base, 15%);
    background-color: $base;
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(top, $base, $base 25%, $darker);
    background-image: -webkit-linear-gradient($base, $base 25%, $darker);
    background-image: linear-gradient($base, $base 25%, $darker);
}

@mixin gradient2($base: #000000){
    $lighter: lighten($base, 15%);
    background-color: $base;
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(top, $base, $base 25%, $lighter);
    background-image: -webkit-linear-gradient($base, $base 25%, $lighter);
    background-image: linear-gradient($base, $base 25%, $lighter);
}

@mixin unhighlightable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

@font-face {
    font-family: 'oswaldbook';
    src: url('oswald-regular-webfont.eot');
    src: url('oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('oswald-regular-webfont.woff') format('woff'),
         url('oswald-regular-webfont.ttf') format('truetype'),
         url('oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
  @include gradient($bg);
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: "Comic Sans MS", "Helvetica", sans-serif;
  text-shadow: 0px 1px $font-shadow;
  color: $font-color;
  text-align: center;
}

body div {
  display: inline-block;
}

#viewer {
  border-radius: $outside-radius;
  background-color: red;
  width: $view-width;
  height: $view-height;
  margin-top: $vertical-centering-margin;
  margin-bottom: 4*$vertical-centering-margin;
  box-shadow: 0px 0px 25px black;
}

#viewer div {
  float: left;
}

#panel-view {
  width: .8*$view-width;
  height: 100%;
  background-color: $fg;
}

.sidebar {
  width: $sidebar-width;
  height: 100%;
  background-color: $side;
}

#left-sidebar {
  text-align: left;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
}

#right-sidebar {
  text-align: right;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}

.sidebar a {
  display: inline-block;
}

.button {
  width: $button-width;
  height: $button-width;
  margin-left: $button-side-margin;
  margin-right: $button-side-margin;
  background-color: $color-button;
  @include button-top-margin($num-colors);
}

.button:hover {
  background-color: lighten($color-button, 10%);
  cursor: pointer;
}

#black,#tiny{
  margin-top: ($view-height - 2*$outside-radius - 
    $num-colors*$button-width) / (2*$num-colors) +
    $outside-radius;
}

#panel-desc {
  text-align: center;
}

#prev {
  margin-top: ($view-height/2) - ($button-width/2);
}

#new {
  margin-top: $outside-radius;
}

#next {
  margin-top: $view-height/2 - $outside-radius - (3/2)*$button-width;
}

/* chooser page */

div#question-wrapper {
  width: 80%;
  height: 15%;
  font-size: 2em;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  float: none;
  background-color: $header-color;
  border: darken($header-color, 7%) 5px solid;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  div {
    float: none;
  }
}

#choices-wrapper {
  height: .75*$view-height;
  width: .9*$mid-width;
  margin: .05*$view-height .05*$mid-width;
  overflow-x: hidden;
  overflow-y: scroll;
  border: $side 1px solid;
  border-radius: 14px;
}

/* from http://cssarrowplease.com/ */
.choice {
  width: .7*$mid-width;
  height: .12*$view-height;
  margin: 14px 0px;
  font-size: 2em;

  display: inline-block;
  position: relative;
  background: $big-button-color;
  border: 4px solid $big-button-border;
  border-radius: 8px;

  &:hover {
    background: $big-button-border;
    border: 4px solid $big-button-color;
    border-left-color: $big-button-border;
    cursor: pointer;
    text-shadow: 0px -1px #ddd;
  }
}


/* home page */

#main-view {
  width: 100%;
  height: 100%;
  border-radius: $outside-radius;
  background-color: $fg;
  text-align: center;
}

#title{
  width: $view-width;
  height: 15%;
  font-size: 3em;
  padding-top: .2em;
  font-family: "oswaldbook", "Impact", inherit;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  float: none;
  @include gradient2($header-color);
  border-bottom: darken($header-color, 7%) 5px solid;
  border-top-left-radius: $outside-radius;
  border-top-right-radius: $outside-radius;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  div {
    float: none;
  }
}

h3 {
  font-size: 2em;
  margin: .4em 0;
  margin-bottom: .5em;
}

#create-area {
  width: 100%;
}

form {
  width: 60%;
  margin-left: 15%;
  margin-top: .5em;
  border-left: 2px #333 solid;
  display: inline-block;
  width: 300px;
  float: left;
}

#situation-entry{
  font-size: 1.5em;
  font-family: inherit;
  border: none;
  //border-left: 2px gray solid;
  margin: 0px 0px;
  overflow: hidden;

  &:focus {
    outline: 0;
  }
}

#situation-create {
  width: auto;
  height: auto;
  padding: .5em 1em;
  border-radius: 6px;
  bottom: 5px;
  position: relative;
  margin-left: 1em;
  font-family: "oswaldbook", "Impact", inherit;
  font-size: 1.3em;
  border: 4px darken($big-button-color, 10%) solid;
  &:hover {
    border: 4px lighten($big-button-color,5%) solid;
    background-color: darken($big-button-color, 10%);
  }
  &:active {
    @include unhighlightable;
    position: relative;
    bottom: 4px;
    box-shadow: 0px -1px 2px 2px gray;
  }
}

hr {
  margin: 0px 0px;
  border: 0;
  height: 2px;
  background: #333;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
  background: -webkit-linear-gradient(left, hsla(0,0%,0%,.75) 0%, hsla(0,0%,0%,0) 100%);
  background:    -moz-linear-gradient(left, hsla(0,0%,0%,.75) 0%, hsla(0,0%,0%,0) 100%);
  background:     -ms-linear-gradient(left, hsla(0,0%,0%,.75) 0%, hsla(0,0%,0%,0) 100%);
  background:      -o-linear-gradient(left, hsla(0,0%,0%,.75) 0%, hsla(0,0%,0%,0) 100%);
  background:         linear-gradient(left, hsla(0,0%,0%,.75) 0%, hsla(0,0%,0%,0) 100%);
}

#start-wrapper {
  height: .456*$view-height;
  width: .9*$view-width;
  margin: .05*$view-height .05*$mid-width;
  overflow-x: hidden;
  overflow-y: scroll;
  border: black 1px solid;
  border-bottom: none;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;

  .start {
    width: auto;
    max-width: $mid-width;
    padding: .3em .3em;
    margin: 14px 7px;
    font-size: 1.4em;

    display: inline-block;
    position: relative;
    background: $big-button-color;
    box-shadow: 0px 1px 5px 2px $big-button-color;
    // border-left: 4px solid lighten($big-button-color, 10%);
    // border-top: 4px solid lighten($big-button-color, 10%);
    // border-bottom: 4px solid darken($big-button-color,10%);
    // border-right: 4px solid darken($big-button-color,10%);
    border-radius: 8px;

    &:hover {
      background: $big-button-border;
      box-shadow: 0px -1px 5px 2px $big-button-border;
      // border-left: 4px solid darken($big-button-color, 20%);
      // border-top: 4px solid darken($big-button-color, 20%);
      // border-bottom: 4px solid lighten($big-button-color,10%);
      // border-right: 4px solid lighten($big-button-color,10%);
      cursor: pointer;
      text-shadow: 0px -1px $font-shadow;
    }
  }
}

.start:active,.choice:active,a.button:active {
  @include unhighlightable;
  position: relative;
  top: 1px;
  box-shadow: 0px 0px 2px 2px gray;
}

canvas {
  &:hover {cursor: crosshair;}
  &:active {cursor: all-scroll;}
}

/* icon zone */

$imgFolder: "../img/";

@mixin spriteIcon($imgName, $width, $height, $fill:true){
    background-image: url($imgFolder + $imgName);
    background-repeat: no-repeat;
    background-position: center center;
    width: $width;
    height: $height;
    
    @if ($fill){
        background-size: contain;
    }
}

#black {background-color: black;}
#white {background-color: white;}
#red {background-color: red;}
#yellow {background-color: yellow;}
#green {background-color: lime;}
#blue {background-color: blue;}
#brown {background-color: brown;}

#tiny {@include spriteIcon("size1.png", $button-width, $button-width);}
#little {@include spriteIcon("size2.png", $button-width, $button-width);}
#med {@include spriteIcon("size3.png", $button-width, $button-width);}
#big {@include spriteIcon("size4.png", $button-width, $button-width);}
#huge {@include spriteIcon("size4point5.png", $button-width, $button-width);}
#cancel {@include spriteIcon("x_red.png", $button-width, $button-width);}
#submit {
  @include spriteIcon("check_green.png", $button-width, $button-width);
  background-size: 80%;
}

#prev {
  @include spriteIcon("back.png", $button-width, $button-width);
  background-size: 80%;
}
#next {
  @include spriteIcon("next.png", $button-width, $button-width);
  background-size: 80%;
}
#new {
  @include spriteIcon("fork_blue.png", $button-width, $button-width);
  background-size: 90%;
}

.selected {
  box-shadow: 0px 0px 9px 4px gray;
}









