/* SASS for Choose Your Own */
/* design constraints */
/* colors */
/* sizes */
body {
  background-color: navy;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 0px 1px #ddd;
  color: #333333;
  text-align: center; }

body div {
  display: inline-block; }

#viewer {
  border-radius: 32px;
  background-color: red;
  width: 600px;
  height: 400px;
  margin: 100px 0; }

#viewer div {
  float: left; }

#panel-view {
  width: 480px;
  height: 100%;
  background-color: white; }

.sidebar {
  width: 60px;
  height: 100%;
  background-color: gray; }

#left-sidebar {
  text-align: left;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em; }

#right-sidebar {
  text-align: right;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em; }

.sidebar a {
  display: inline-block; }

.button {
  width: 36px;
  height: 36px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: green;
  margin-top: 6px;
  margin-bottom: 6px; }

.button:hover {
  background-color: #00b300;
  cursor: pointer; }

#black, #tiny {
  margin-top: 38px; }

#prev {
  margin-top: 182px; }

#new {
  margin-top: 32px; }

#next {
  margin-top: 114px; }

/* chooser page */
div#question-wrapper {
  width: 80%;
  height: 15%;
  font-size: 2em;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  float: none;
  background-color: #18ccae;
  border: #14ac93 5px solid;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
  div#question-wrapper div {
    float: none; }

#choices-wrapper {
  height: 300px;
  width: 432px;
  margin: 20px 24px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: gray 1px solid;
  border-radius: 14px; }

/* from http://cssarrowplease.com/ */
.choice {
  width: 336px;
  height: 48px;
  margin: 14px 0px;
  font-size: 2em;
  display: inline-block;
  position: relative;
  background: #ff8a05;
  border: 4px solid #cc6521;
  border-radius: 8px; }
  .choice:hover {
    background: #cc6521;
    border: 4px solid #ff8a05;
    border-left-color: #cc6521;
    cursor: pointer;
    text-shadow: 0px -1px #ddd; }
