/* SASS for Choose Your Own */

/* design constraints */
$num-colors: 7;
$outside-radius: 32px;

/* colors */
$font-color: #333; 
$bg: navy;
$fg: white;
$side: gray;
$color-button: green;
$light-orange: #ff8a05;
$dark-orange: #cc6521;
$aqua: #18ccae;

/* sizes */
$view-width: 600px;
$view-height: (2/3)*$view-width;
$vertical-centering-margin: 100px;
$sidebar-width: .1*$view-width;
$mid-width: .8*$view-width;

$button-width: .6*$sidebar-width;
$button-side-margin: ($sidebar-width - $button-width) / 2;

@mixin button-top-margin($numButtons){ 
  margin-top: ($view-height - 2*$outside-radius - 
    $numButtons*$button-width) / (2*$numButtons);
  margin-bottom: ($view-height - 2*$outside-radius - 
    $numButtons*$button-width) / (2*$numButtons);
}

body {
  background-color: $bg;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 0px 1px #ddd;
  color: $font-color;
  text-align: center;
}

body div {
  display: inline-block;
}

#viewer {
  border-radius: $outside-radius;
  background-color: red;
  width: $view-width;
  height: $view-height;
  margin: $vertical-centering-margin 0;
  box-shadow: 0px 0px 25px black;
}

#viewer div {
  float: left;
}

#panel-view {
  width: .8*$view-width;
  height: 100%;
  background-color: $fg;
}

.sidebar {
  width: $sidebar-width;
  height: 100%;
  background-color: $side;
}

#left-sidebar {
  text-align: left;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
}

#right-sidebar {
  text-align: right;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}

.sidebar a {
  display: inline-block;
}

.button {
  width: $button-width;
  height: $button-width;
  margin-left: $button-side-margin;
  margin-right: $button-side-margin;
  background-color: $color-button;
  @include button-top-margin($num-colors);
}

.button:hover {
  background-color: lighten($color-button, 10%);
  cursor: pointer;
}

#black,#tiny{
  margin-top: ($view-height - 2*$outside-radius - 
    $num-colors*$button-width) / (2*$num-colors) +
    $outside-radius;
}

#prev {
  margin-top: ($view-height/2) - ($button-width/2);
}

#new {
  margin-top: $outside-radius;
}

#next {
  margin-top: $view-height/2 - $outside-radius - (3/2)*$button-width;
}

/* chooser page */

div#question-wrapper {
  width: 80%;
  height: 15%;
  font-size: 2em;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  float: none;
  background-color: $aqua;
  border: darken($aqua, 7%) 5px solid;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  div {
    float: none;
  }
}

#choices-wrapper {
  height: .75*$view-height;
  width: .9*$mid-width;
  margin: .05*$view-height .05*$mid-width;
  overflow-x: hidden;
  overflow-y: scroll;
  border: $side 1px solid;
  border-radius: 14px;
}

/* from http://cssarrowplease.com/ */
.choice {
  width: .7*$mid-width;
  height: .12*$view-height;
  margin: 14px 0px;
  font-size: 2em;

  display: inline-block;
  position: relative;
  background: $light-orange;
  border: 4px solid $dark-orange;
  border-radius: 8px;

  &:hover {
    background: $dark-orange;
    border: 4px solid $light-orange;
    border-left-color: $dark-orange;
    cursor: pointer;
    text-shadow: 0px -1px #ddd;
  }
}



