/* SASS for Choose Your Own */
/* design constraints */
/* colors */
/* sizes */
body {
  background-color: navy;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center; }

body div {
  display: inline-block; }

#viewer {
  border-radius: 32px;
  background-color: red;
  width: 600px;
  height: 400px;
  margin: 100px 0; }

#viewer div {
  float: left; }

#panel-view {
  width: 480px;
  height: 100%;
  background-color: white; }

.sidebar {
  width: 60px;
  height: 100%;
  background-color: gray; }

#left-sidebar {
  text-align: left;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em; }

#right-sidebar {
  text-align: right;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em; }

.sidebar a {
  display: inline-block; }

.button {
  width: 36px;
  height: 36px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: green;
  margin-top: 6px;
  margin-bottom: 6px; }

.button:hover {
  background-color: #00b300;
  cursor: pointer; }

#black, #tiny {
  margin-top: 38px; }

#prev {
  margin-top: 182px; }

#new {
  margin-top: 32px; }

#next {
  margin-top: 114px; }
